SimpleCrudOps/Service References/UsersServiceReference/UsersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UsersWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UsersWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWcfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WcfUser" nillable="true" type="tns:WcfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWcfUser" nillable="true" type="tns:ArrayOfWcfUser" />
  <xs:complexType name="WcfUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfUser" nillable="true" type="tns:WcfUser" />
</xs:schema>